/* This is a comment */

/* This is a 
multi line comment */

/* CSS files can can also be used to access e.g. fonts */

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400&display=swap');

/* Format my paragraph */
p {
    font-family: "Cabin";
	font-size: 18px;
	margin: 0px 0px 10px;
	line-height: 22.4px;
	color: #ffffff;
}

h6 {
    font-family: "Cabin";
	font-size: 20px;
	font-style: none;
	font-weight: normal;
	margin: 30px;
	line-height: 22.4px;
	color: #ffffff;
}

/* Format my text */
text {
    font-family: "Cabin";
	font-size: 18px;
	margin: 0px 0px 10px;
	line-height: 22.4px;
	color: #ffffff;
}

/* Format my headings */
h1 {
	font-family: "Cabin";
	font-size: 60px;
	color: #ffffff;
	font-weight: 600;
	margin: 30px;
}

/* Format my heading */
h2 {
	font-family: "Cabin";
	font-size: 45px;
	color: #ffffff;
	font-weight: 400;
	margin: 30px;
}

/* Format my heading */
h3 {
	font-family: "Cabin";
	font-size: 30px;
	color: #ffffff;
	font-weight: 200;
	margin: 30px;
}