



/* This is my first proper css file */


/* ----- BODY ----- rgb(0, 3, 54)rgb(0, 23, 61)  rgb(122, 235, 255);*/
body{
    background-color: rgb(222, 250, 255)
}


/* ----- HEADINGS & PARAGRAPHS ----- */
h1, h2, h3, h6, p{
    color:rgb(0, 23, 61);
    font-family: 'Cabin', sans-serif;
    text-align: center;
}


/* ----- BUTTONS ----- */
.multibutton{background-color:rgb(0, 23, 61);
    width: 100%;
    height: auto;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    vertical-align: middle;
    color: "null"
  
}

.button{
    background-color:  rgb(122, 235, 255);
    width: 200px;
    height: 100px;
    margin: 10px
    
}


/* ----- CHARTS ----- */
.chart{
    width: 450px;
    height: auto;
    font-family: 'Cabin', sans-serif;
}

/* ----- DIVIDER ----- */
hr{  border: 2px solid #00173D;
    border-radius: 2px;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
}



/* ----- PARENT/CHILD FORMATTING ----- */

.parent{
    width: 100%;
    height: auto;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    vertical-align: middle;
    color: "null";
  
}

.parent2{
    margin: auto;
    width: 89%;
    height: auto;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    vertical-align: middle;
    color: "null";

}

.child1{
    vertical-align: middle;
    background-color:rgb(189, 243, 252);
    width: auto;
    height: auto;
    border-color: rgb(189, 243, 252);
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    color:rgb(0, 23, 61); 
    display: inline-block;

   
}
.child2{
    vertical-align: middle;
    background-color:rgb(189, 243, 252);
    width: 400px;
    height: 400px;
    border-color: rgb(189, 243, 252);
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
    margin: 15px;
    padding: 13px;
    color:rgb(0, 23, 61); 
    display: inline-block;

}

.pagination {
    text-align: center;
    vertical-align: middle;
    border-width: 10px;
    border-color: #00173D;
}

.pagination a {
    border-width: 10px;
    border-color: #00173D;
    color: black;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    align-self: center;
    vertical-align: middle;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 5px;
    font-size: 22px;
    margin: 15px;
  }
  
  .pagination a.active {
    background-color: rgb(0, 23, 61);
    color: white;
    border-radius: 5px;
  }

  .pagination a:hover:not(.active) {
      background-color: #ddd;
    }